# Ignore the virtual environment 
.venv/
venv/

# Ignore Python cache files
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables / secrets
.env
*.env

# Ignoring Folders
src/

# Waste Dependencies
.python-version

